.Title .edit-icon {
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
  height: 30px;
}

.Title:hover .edit-icon {
  opacity: 1;
  height: 30px;
}
.Title .form-control {
  height: 60px;
  font-size: 24px;
}
